<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<body>
    <h1>ADD USERS</h1>
    <form>
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <label>Username</label>
                </div>
                <div class="col-sm">
                    <input type="text">
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <label>Email</label>
                </div>
                <div class="col-sm">
                    <input type="email">
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <label>Password</label>
                </div>
                <div class="col-sm">
                    <input type="password">
                </div>
            </div>
        </div>
    </form>
</body>

</html>

    {{!-- <br><br>
        <label>Email</label>
        <input type="email">
        <label>Password</label><input type="password">
        <input type="submit" value="Save">
        <input type="reset" value="Reset"> --}}
