<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/tasks.css">
</head>

<body>

    <h2>TASKS</h2>
    <div class="menu">
        <a href="/users">Users</a>
        <a href="/tasks">Tasks</a>
    </div>

    <div class="btn">
        <button>ADD</button>
        <button>EDIT</button>
        <button>DELETE</button>
    </div>


    <table>
        <tr>
            <th>Task</th>
            <th>Username</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>Reading</td>
            <td>Ram</td>
            <td>Incompleted</td>
        </tr>
        <tr>
            <td>Writing</td>
            <td>Sham</td>
            <td>Completed</td>
        </tr>
        <tr>
            <td>Teaching</td>
            <td>Priya</td>
            <td>Completed</td>
        </tr>
    </table>

</body>

</html>