<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/users.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/js/jquery-3.7.1.js"></script>
    <script src="/js/users.js"></script>
    <script src="/js/common.js"></script>

</head>

<body>

    <h2>{{title}}</h2>
    <i class="fa fa-power-off" aria-hidden="true"></i>
    <div class="menu">
        <a href="/users">Users</a>
        <a href="/tasks">Tasks</a>
    </div>

    <div class="btn">
        <button id="addBtn">ADD</button>
        <button id="editBtn">EDIT</button>
        <button id="deleteBtn">DELETE</button>
    </div>

    <table>
        <tr>
            <th></th>
            <th>Username</th>
            <th>Email</th>
            <th>Password</th>
        </tr>
        {{#each users}}
            <tr>
                <td><input type="checkbox" class="checkbox"></td>
                <td>{{this.name}}</td>
                <td>{{this.email_id}}</td>
                <td>{{this.password}}</td>
            </tr>
        {{/each}}
    </table>

</body>

</html>